argon2-cffi==21.1.0
bleach==4.1.0
certifi==2021.10.8
cycler==0.10.0
Cython==0.29.24
defusedxml==0.7.1
fonttools==4.25.0
gco-wrapper==3.0.8
imageio @ file:///tmp/build/80754af9/imageio_1617700267927/work
importlib-resources==5.4.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
Jinja2==3.0.3
jsonschema==4.2.1
jupyter==1.0.0
jupyter-console==6.4.0
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kiwisolver @ file:///tmp/build/80754af9/kiwisolver_1612282420641/work
MarkupSafe==2.0.1
matplotlib @ file:///tmp/build/80754af9/matplotlib-suite_1634667019719/work
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
mpmath==1.2.1
munkres==1.1.4
my-package==0.0.0
nbclient==0.5.9
nbconvert==6.3.0
nbformat==5.1.3
nose==1.3.7
notebook==6.4.6
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1634095647912/work
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
opencv-python==4.5.3.56
packaging==21.3
pandas==1.3.4
pandocfilters==1.5.0
Pillow==8.4.0
prometheus-client==0.12.0
pygco==0.0.16
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
pyrsistent==0.18.0
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2021.3
qtconsole==5.2.1
QtPy==1.11.2
Send2Trash==1.8.0
sip==4.19.13
six @ file:///tmp/build/80754af9/six_1623709665295/work
sympy==1.9
terminado==0.12.1
testpath==0.5.0
tornado @ file:///tmp/build/80754af9/tornado_1606942300299/work
urllib3==1.26.7
webencodings==0.5.1
widgetsnbextension==3.5.2
